<div class="p-8 w-screen h-screen overflow-y-scroll flex flex-col items-center gap-4">
    <p class="w-[210mm] px-8 py-4">
        CONFIDENTIALITY &amp; NON-DISCLOSURE AGREEMENT
        <br>
        <br>
        <br>
        Dear Enquirer
        VALEN PROGRAM (hereafter referred to as “VALEN”), as part of discussions, engagements
        and disclosure of data with and by us we will be giving to you, certain written non-public
        information, all of which is collectively, or will be upon delivery to you, treated by you as
        confidential (all such information referred to herein as the “Confidential Material”).
        <br><br>
        Such Confidential Material does not include information which:
        <br>
        <br>
        (i) prior to its delivery to you by us was already in your possession and advised by you to us
        in writing promptly after receipt,
        <br><br>
        (ii) was or becomes publicly available through authorized disclosure,
        <br><br>
        (iii) becomes available to you on a non-confidential basis from a source other than us or any
        client, provided you do not know that said source is bound by a confidentiality
        agreement with or obligation of secrecy, and/or
        <br><br>
        (iv) was or is independently developed by you.
        <br><br>
        All Confidential Material given to you will be treated confidentially by you as long as it remains
        non- public or public in an unauthorised manner. Except as otherwise required by law, you will
        not disclose this information to any third party without our written consent. You may, however,
        disclose Confidential Material to any person within your business organisation who needs to
        know such information for the purposes of any services rendered to us, provided that any such
        person shall be informed by you of the confidential nature of such information, and shall be
        bound by these presents.
        <br><br>
        Except with our consent or as otherwise required by law, regulation, administrative or court
        order, you will not make any public disclosure in connection with us, our business arrangements
        or other activities, our financial position or holdings, or to the effect that you are having or have
        had discussions with us, or that you have received or revealed any Confidential Material.
        <br><br>
        In the event that you are required in any proceedings to disclose any Confidential Material, you
        will give us prompt notice of such request to our email address or such other address we may
        advise you of in writing from time to time, provided that there is no prohibition thereof, so that
        we may seek with your full support and assistance an appropriate protective order.
        <br><br>
        In the event that we request for any reason, you will promptly (i) destroy or redeliver to us at our
        email address or such other address we may advise you of in writing from time to time, any
        Confidential Material which we have provided to you, (ii) destroy any materials prepared by you
        incorporating or deriving from any Confidential Material, and (iii) delete all Confidential Material
        from any computer records or files stored electronically and provided that you may retain a copy
        of the minimum amount necessary to comply with mandatory audit, legal or regulatory purposes.
        <br><br>
        This Agreement shall be binding upon and inure to the benefit of each Party and its respective
        successors and permitted assigns. This Agreement constitutes the entire understanding of the
        Parties and supersedes all prior understandings and agreements, written or oral, with respect to
        the subject matter herein. This Agreement shall be construed, interpreted, enforced and
        governed by and in accordance with the laws of Geneva, Switzerland without reference to its
        conflicts of laws doctrine, and the Parties agree to submit to the competent jurisdiction of the
        ordinary Courts of the Canton of Geneva, Switzerland.
        <br><br>
        If you are in agreement with the foregoing, please so indicate by including your email address
        herein, which will constitute our contract with respect to the matters set forth herein.
        Yours Sincerely,
        <br><br>
        <br>
        JOHN
        SINCLAIR –
        for VALEN
    </p>
    <div class="flex flex-row justify-center gap-4 items-center w-[210mm]">
        <input [(ngModel)]="checkboxTerms" class="w-5 h-5" type="checkbox" name="" id="">
        <span>i have read and agree to the terms and conditions</span>
    </div>
    <button class="px-5 mb-20" [disabled]="!checkboxTerms" (click)="submitTerms()">Submit</button>
</div>