<div class="w-screen h-screen flex flex-col items-center justify-center gap-4">
  <span class="text-8xl border-2 border-solid border-black tracking-[1rem] py-3 px-8 text-center cursor-pointer"
    (click)="navigateToLogin()">VALEN</span>
  <div class="flex gap-4">
    <img src="../../../../assets/icons/union.svg" alt="" srcset="">
    <img src="../../../../assets/icons/group1.svg" alt="" srcset="">
    <img src="../../../../assets/icons/group2.svg" alt="" srcset="">
    <img src="../../../../assets/icons/group3.svg" alt="" srcset="">
  </div>
  <span class="max-w-[700px] text-center">The VALEN Program is currently in start-up pre-funding stage. This website is
    an info-hub,
    created for
    interested parties, including investors, familes and professional service providers functioning in the "Family
    Office" space</span>
</div>