<div class="w-screen h-screen flex flex-col items-center justify-center gap-4">
  <span class="text-8xl border-2 border-solid border-black tracking-[1rem] py-3 px-8 text-center">VALEN</span>
  <div class="flex gap-4">
    <div class="w-16 h-16 border-2 border-solid border-black"></div>
    <div class="w-16 h-16 border-2 border-solid border-black"></div>
    <div class="w-16 h-16 border-2 border-solid border-black"></div>
    <div class="w-16 h-16 border-2 border-solid border-black"></div>
  </div>
</div>
