<div class="w-screen h-screen flex justify-center items-center gap-24">
  <div (click)="navigate('FAMILIES')" class="w-96 h-96 flex items-center justify-center border border-solid border-black rounded-full cursor-pointer">
    <span class="border-2 border-solid border-black p-2 tracking-[.5rem] uppercase">for
      families</span></div>
  <div (click)="navigate('PARTNERS')" class="w-96 h-96 flex items-center justify-center border border-solid border-black rounded-full cursor-pointer">
    <span class="border-2 border-solid border-black p-2 tracking-[.5rem] uppercase">for partners</span></div>
</div>
